* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #0b0f19;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}
